// bower:scss
// endbower



.demo {
    font-size: 75px;
    font-color: white;
    text-align: center;
}


.wrapper{
	margin-right:500px;
	margin-left:400px;

}


.example{
	background-color: blue;
	height:300px;
	width:400px;
	font-size:55px;
	text-align:center;
	padding-top:100px;
	border:2px solid black;
	color:white;

}	


.button{
	background-color:red;
	height:100px;
	width:150px;
	font-size:25px;
	text-align:center;
	border-radius:10px;
	border:2px solid black;
	color:white;

}

.slideup{
	height:300px;
	width:400px;
	background-color:green;
	margin-top: 100px;
	font-size: 55px;
	border:3px solid black;

}



